<!DOCTYPE html>
<html lang="fr">
    {% include 'include/head.html' %}
<body style="
    background-image: url('https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center;">

    {% include 'include/header.html' %}
    {% include 'include/sidebar.html' %}

    {% block contenthome %}{% endblock %}

    {% include 'include/footer.html' %}
    {% include 'include/script.html' %}

</body>
</html>
